<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="hi.css">
        <script src="h.js"></script>
    </head>
    <style>
        .a{
            margin-left:40%;
            margin-top:20%;
            width:300px;
            color:white;
        }
        .b{
            margin-top:20px;
        }
        .c{
            margin-left:20%;
            font-weight: 900;
        }
        .d{
            color:white;
        }
        .e{
            text-align: center;
            color:white;
            margin-top: 50px;
        }
        button{
            width:7vw;
            height:5vhh;
            font-size: 20px;
            background-color: rgb(4, 19, 40);
            color:white;
        }
        body{
            background-image: url("https://wallpapercave.com/wp/wp2987342.jpg");
            background-size: cover;
        }
        .f{
            text-align: center;
            color:white;
            margin-top: 50px;
            margin-top: 3px;
        }
        .g{
            width:10vw;
            height:5vhh;
            font-size: 20px;
            background-color: rgb(4, 19, 40);
            color:white;
        }
        .a{
            margin-top: 20%;
            margin-left:37%;
            color:white;
        }
        .b{
            margin-top:20px;
        }
        .c{
            margin-left:46%;
            margin-top:5%;
            color:white;
        }
        .d{
            margin-left:17%;
        }
        body{
            background-image: url("https://wallpapercave.com/wp/wp2987342.jpg");
            background-size: cover;
        }
        .x{
            background-color: rgb(3, 3, 37);
            color:white;
            font-size: 20px;
        }
    </style>
    <body>
      
<div class="j">
    <div class ="a">
        <h1 class="c"><u>LOGIN</u></h1>
        <form action="/login" method="post"> 
        <div class="b">
            <input type="email" name="email" required><label> Email</label>
        </div>
        <div class="b">
            <input type="password" name="password" required><label> Password</label>
        </div>
        <div>
            <div class="b">
                <input type="checkbox" required><label>I have accepted the terms and conditions</label>
            </div>
            <div class="b">
                <a href="" class="d">forget password</a>
            </div>
        </div>
    </div>
    <div class="e">
        <button type="submit" class="ko">login</button>
    </div>
</div>
<div class="f">
    <h4>if you dont have an account<button class="g"><a href="login.ejs">SIGN UP</a></button></h4>
</div>
</form> 
    </body>
</html>