<!-- hello.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="hi.css">
    <script src="h2.js"></script>
</head>
<style>
    .a{
        margin-top: 20%;
        margin-left:37%;
        color:white;
    }
    .b{
        margin-top:20px;
    }
    .c{
        margin-left:46%;
        margin-top:5%;
        color:white;
    }
    .d{
        margin-left:17%;
    }
    body{
        background-image: url("https://wallpapercave.com/wp/wp2987342.jpg");
        background-size: cover;
    }
    .x{
        background-color: rgb(3, 3, 37);
        color:white;
        font-size: 20px;
    }
</style>
<body>
<form action="/signup" method="post">
    <div class="a">
        <div class="b">
            <h4 class="d"><u>SIGN UP</u></h4>
            <input type="text" name="name" required><label>Name</label>
        </div>
        <div class="b">
            <input type="email" name="email" required><label>Email</label>
        </div>
        <div class="b">
            <input type="password" name="password" required><label>Password</label>
        </div>
    </div>
    <div class="c">
        <button class="x" type="submit">SIGN UP</button>
    </div>
</form>
</body>
</html>